<!DOCTYPE html>
<html lang="en">
<head>
    <!--Required meta tag-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />

    <!--Facebook-->
    <meta property="og:url" content="http://themepixels.me/slim" />
    <meta property="og:title" content="Đăng nhập" />
    <meta property="og:description" content="Đăng nhập" />
    <meta property="og:image" content="http://themepixels.me/slim/img/slim-social.png" />
    <meta property="og:image:secure_url" content="http://themepixels.me/slim/img/slim-social.png" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="600" />

    <!--Meta-->
    <meta name="description" content="Đăng nhập" />
    <meta name="author" content="Đăng nhập" />

    <title>Đăng nhập</title>

    <!--vendor css-->
    <link href="~/Adminassets/lib.font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href="~/Adminassets/lib/Ionicons/css/ionicons.css" rel="stylesheet" />
    <!--DangNhap CSS-->
    <link rel="stylesheet" href="~/Adminassets/css/DangNhap.css" />
    </head>
<body>
    <div class="signin-wrapper">
        @RenderBody()
    </div>
        <script src="~/Adminassets/lib/jquery/js/jquery.js"></script>
        <script src="~/Adminassets/lib/popper.js/js/popper.js"></script>
        <script src="~/Adminassets/lib/bootstrap/js/bootstrap.js"></script>
        <script src="~/Adminassets/js/slim.js"></script>
</body>
</html>
