<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sales ChatBot</title>

    <!-- font awesome cdn link  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!-- custom css file link  -->
    <link rel="stylesheet" href="Trangchu.css">

</head>
<body>

    <!-- header section starts  -->

    <header class="header">

        <a href="#" class="logo"><span>JobFinder</span></a>

        <nav class="navbar">
            <ul id="main-menu">
                <li><a href="">Trang chủ</a></li>
                <li>
                    <a href="">Quản lý người dùng</a>
                    <ul class="sub-menu">
                        <li><a href="">Tài khoản</a></li>
                        <li><a href="">Thêm tài khoản</a></li>
                    </ul>
                    </li>
                <li>
                    <a href="">Quản lý bài viết</a>
                    <ul class="sub-menu">
                        <li><a href="">Thêm bài viết</a></li>
                        <li><a href="">Xem bài viết</a></li>
                    </ul>
                </li>
                <li><a href="">Giới thiệu</a></li>
            </ul>
        </nav>
        <div class="btnDN">
            <a href="" class="btn">Đăng nhập</a>
        </div>
        <div class="icons">
            <i class="fas fa-bars" id="menu-bars"></i>
            <i class="fas fa-search" id="search-icon"></i>
        </div>

        <form action="" class="search-form">
            <input type="search" name="" placeholder="search here..." id="search-box">
            <label for="search-box" class="fas fa-search"></label>
        </form>

    </header>

    <!-- header section ends -->
    <!-- banner section starts  -->

    <section class="banner" id="banner">

        <div class="content">
            <h3>Chào mừng bạn đến với trang tuyển dụng và tìm kiếm việc làm!</h3>
            <a href="" class="btn">JobFinder</a>
        </div>

    </section>

    <!-- banner section ends -->
    <!-- posts section starts  -->

    <section class="container" id="posts">

        <div class="posts-container">

            <div class="post">
                <img src="images/blog-1.jpg" alt="" class="image">
                <div class="date">
                    <i class="far fa-clock"></i>
                    <span>1st may, 2022</span>
                </div>
                <h3 class="title">Trong cuộc đời, hạnh phúc do mình nắm giữ</h3>
                <p class="text">Theo lời Phật giáo: “Nếu Bồ Tát muốn đến được tịnh thổ, phải làm tịnh tâm này, tùy theo tâm tịnh thì Phật thổ tịnh”. Tịnh thổ (niết bàn, cực lạc) thực sự không phải ở phương nào, cũng không phải quá xa xôi mà chính là một tâm kiền tịnh, sạch sẽ. Cho nên, “tâm thanh tịnh” là điều mà cả đời một người cần phải tu dưỡng.</p>
                <p class="text">Tự bản thân mình nắm giữ cuộc đời cả mình, buồn vui hay đau khổ thực chất là do tự mình định đoạt. Không ai ngăn cản bạn tiêu sài, thoải mái, cũng không ai ngăn cản bạn tự tại, càng không có ai hạn chế được niềm hạnh phúc của bạn. Phật gia có một câu nói rất hay là “không hướng ngoại mà cầu” hay “ngoài tâm không có pháp”, cho nên, tiêu sái là ở tâm, tự tại là ở tâm, tự do là ở tâm, hạnh phúc cũng là ở tâm.</p>
                <div class="links">
                    <a href="#" class="user">
                        <i class="far fa-user"></i>
                        <span>by me</span>
                    </a>
                    <a href="#" class="icon">
                        <i class="far fa-comment"></i>
                        <span>(45)</span>
                    </a>
                    <a href="#" class="icon">
                        <i class="far fa-share-square"></i>
                        <span>(29)</span>
                    </a>
                </div>
            </div>

            <div class="post">
                <img src="images/blog-2.jpg" alt="" class="image">
                <div class="date">
                    <i class="far fa-clock"></i>
                    <span>1st may, 2022</span>
                </div>
                <h3 class="title">Hãy xem thử thách bản thân là một cách để bạn sống</h3>
                <p class="text">Nếu bạn thấy mình đang tụt lại quá xa so với những người đồng tuổi, bạn nhất định sẽ không tránh khỏi sợ hãi, thất vọng, lo lắng vì bạn đang bị "tụt hậu" so với mọi người. Tuy nhiên, đừng ghen tị với sự sung túc của người khác.</p>
                <p class="text">Và nếu bạn muốn thấy sự tiến bộ của mình hãy thử thách bản thân nhiều hơn, đừng tạm hài lòng với cuộc sống hiện tại vì bạn không phát triển gì nghĩa là bạn thực sự đang thụt lùi khi người khác vẫn đang tiến lên.</p>
                <div class="links">
                    <a href="#" class="user">
                        <i class="far fa-user"></i>
                        <span>by me</span>
                    </a>
                    <a href="#" class="icon">
                        <i class="far fa-comment"></i>
                        <span>(45)</span>
                    </a>
                    <a href="#" class="icon">
                        <i class="far fa-share-square"></i>
                        <span>(29)</span>
                    </a>
                </div>
            </div>

            <div class="post">
                <img src="images/blog-3.jpg" alt="" class="image">
                <div class="date">
                    <i class="far fa-clock"></i>
                    <span>1st may, 2022</span>
                </div>
                <h3 class="title">Đừng tự hủy hoại cuộc đời khi mỗi ngày đều buông những tiếng thở dài</h3>
                <p class="text">Người xưa có câu: "Cuộc sống do chính chúng ta tạo ra, phước do tự mình mang đến". Cuộc đời một người ra sao phụ thuộc rất lớn vào thái độ sống của người đó. Một người đầu óc hẹp hòi là người thường hay tức giận vì những chuyện hết sức nhỏ nhặt, hở chút là buông những tiếng thở dài não nề. Đây chính là một thói quen rất xấu.</p>
                <p class="text">Người Trung Hoa có câu: "Buông một tiếng thở dài, cái nghèo theo suốt 3 năm". Đó là bởi, người thường xuyên than thở đã tự tước đi vận may của mình, khiến cuộc đời ngập tràn toàn là những điều bất hạnh và xui xẻo.</p>
                <div class="links">
                    <a href="#" class="user">
                        <i class="far fa-user"></i>
                        <span>by me</span>
                    </a>
                    <a href="#" class="icon">
                        <i class="far fa-comment"></i>
                        <span>(45)</span>
                    </a>
                    <a href="#" class="icon">
                        <i class="far fa-share-square"></i>
                        <span>(29)</span>
                    </a>
                </div>
            </div>

        </div>

        <div class="sidebar">
            <div class="box">
                <h3 class="title">about me</h3>
                <div class="about">
                    <img src="images/Ảnh trang chủ Blog( Myself).jpg" alt="">
                    <a href="https://localhost:44305/Trangcanhan.html" class="about"></a>
                    <h3>Lê Thùy Trang</h3>
                    <p>Chào mọi người, tớ là Trang. Tớ có đam mê viết lách và chia sẻ trải nghiệm của bản thân. Rất vui vì các bạn đã ghé thăm Blog nhỏ của tớ.</p>
                    <div class="follow">
                        <a href="#" class="fab fa-facebook-f"></a>
                        <a href="#" class="fab fa-twitter"></a>
                        <a href="#" class="fab fa-instagram"></a>
                        <a href="#" class="fab fa-linkedin"></a>
                    </div>
                </div>
            </div>

            <div class="box">
                <h3 class="title">Danh mục công việc</h3>
                <div class="category">
                    <a href="#"> Công nghệ thông tin <span>42</span></a>
                    <a href="#"> Kế toán <span>75</span> </a>
                    <a href="#"> Luật sư <span>22</span> </a>
                    <a href="#"> Giáo viên <span>17</span> </a>
                    <a href="#"> Diễn viên <span>48</span> </a>
                </div>
            </div>

            <div class="box">
                <h3 class="title">Các bài viết nổi bật</h3>
                <div class="p-post">
                    <a href="#">
                        <h3>01. Trong cuộc đời, hạnh phúc do mình nắm giữ</h3>
                        <span><i class="far fa-clock"></i>1st may, 2022</span>
                    </a>
                    <a href="#">
                        <h3>02. Hãy xem thử thách bản thân là một cách để bạn sống</h3>
                        <span><i class="far fa-clock"></i>1st may, 2022</span>
                    </a>
                    <a href="#">
                        <h3>03. Đừng tự hủy hoại cuộc đời khi mỗi ngày đều buông những tiếng thở dài</h3>
                        <span><i class="far fa-clock"></i>1st may, 2022</span>
                    </a>
                </div>
            </div>

            <div class="box">
                <h3 class="title">Tin tức</h3>
                <div class="tags">
                    <a href="#">Công nghệ</a>
                    <a href="#">Tài chính</a>
                    <a href="#">Văn hóa</a>
                    <a href="#">Thời trang</a>
                    <a href="#">Khoa học</a>
                    <a href="#">Âm nhạc</a>
                    <a href="#">Thể thao</a>
                </div>
            </div>

        </div>

    </section>

    <!-- posts section ends -->
    <!-- contact section starts  -->

    <section class="contact" id="contact">

        <form action="">
            <h3>contact me</h3>
            <div class="inputBox">
                <input type="text" placeholder="name">
                <input type="email" placeholder="email">
            </div>
            <div class="inputBox">
                <input type="number" placeholder="number">
                <input type="text" placeholder="subject">
            </div>
            <textarea name="" placeholder="message" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>

    </section>

    <!-- contact section ends -->
    <!-- footer section starts  -->

    <section class="footer">

        <div class="follow">
            <a href="#" class="fab fa-facebook-f"></a>
            <a href="#" class="fab fa-twitter"></a>
            <a href="#" class="fab fa-instagram"></a>
            <a href="#" class="fab fa-linkedin"></a>
        </div>

        <div class="credit">created by <span>Le Trang</span> | all rights reserved</div>

    </section>

    <!-- footer section ends -->
    <!-- custom js file link  -->
    <script src="Trangchu.js"></script>

</body>
</html>